@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Cabin', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    
}

#root {
    
    height: 100%;
    width: 100%;
    margin: 0;
}
